USE [master]
GO
/****** Object:  Database [TaskManagementSystem]    Script Date: 4/28/2026 8:40:46 PM ******/
CREATE DATABASE [TaskManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TaskManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TaskManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagementSystem]
GO
/****** Object:  Table [dbo].[ErrorLogMaster]    Script Date: 4/28/2026 8:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogMaster](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL,
	[UserName] [varchar](max) NULL,
	[ControllerName] [varchar](max) NULL,
	[MethodName] [varchar](max) NULL,
	[InnerErrorMessage] [varchar](max) NULL,
 CONSTRAINT [PK_ErrorLogMaster] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 4/28/2026 8:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 4/28/2026 8:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NULL,
	[DueDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](500) NULL,
	[EditDate] [datetime] NULL,
	[EditBy] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[TaskCreatedUserID] [int] NULL,
	[TaskCreatedUserName] [nvarchar](max) NULL,
	[UploadFile] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskShare]    Script Date: 4/28/2026 8:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskShare](
	[TaskShareID] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [int] NULL,
	[shareWithUserId] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_TaskShare] PRIMARY KEY CLUSTERED 
(
	[TaskShareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 4/28/2026 8:40:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPassword] [nvarchar](max) NULL,
	[UserRole] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[EditDate] [date] NULL,
	[EditBy] [nvarchar](max) NULL,
	[UserEmail] [nvarchar](max) NULL,
	[UserContact] [nvarchar](max) NULL,
	[UserAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([UserID], [UserName], [UserPassword], [UserRole], [IsActive], [CreatedDate], [CreatedBy], [EditDate], [EditBy], [UserEmail], [UserContact], [UserAddress]) VALUES (5, N'Admin', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'User', 1, CAST(N'2026-04-03' AS Date), N'Admin123', NULL, NULL, N'muhammadliaquata@gmail.com', N'03402152896', N'Karachi')
INSERT [dbo].[UserMaster] ([UserID], [UserName], [UserPassword], [UserRole], [IsActive], [CreatedDate], [CreatedBy], [EditDate], [EditBy], [UserEmail], [UserContact], [UserAddress]) VALUES (6, N'User', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'User', 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
USE [master]
GO
